In [66]:
import pandas as pd
NARA= pd.read_excel("testfile/joonggonara_iphone.xlsx",index_col = 0, engine='openpyxl')
NARA

,isSale,title,url,price
2022-11-01 00:00:00,판매,86762 아이폰11PRO MAX 미드나잇 그린 64GB 배터리91%,https://cafe.naver.com/ca-fe/cafes/10050146/ar...,470000
2022-11-01 00:03:00,판매,15만원 아이폰8 가성비좋은 꿀 공기기 판매합니다.,https://cafe.naver.com/ca-fe/cafes/10050146/ar...,150000
2022-11-01 00:04:00,판매,부산 김해 아이폰13프로 그라파이트 128기가 배터리93 105만 13PRO,https://cafe.naver.com/ca-fe/cafes/10050146/ar...,1050000
2022-11-01 00:05:00,판매,"광주 아이폰6S,64G,골드,광주광역시",https://cafe.naver.com/ca-fe/cafes/10050146/ar...,160000
2022-11-01 00:06:00,판매,[판매] ﻿아이폰12프로 그래파이트 128GB A급 공기계 [76만],https://cafe.naver.com/ca-fe/cafes/10050146/ar...,760000
...,...,...,...,...
2022-11-10 14:58:00,판매,아이폰13 스타라이트 256기가 특S급 / 직거래,https://cafe.naver.com/ca-fe/cafes/10050146/ar...,900000
2022-11-10 15:00:00,판매,아이폰 11 128기가 파손폰 판매합니다,https://cafe.naver.com/ca-fe/cafes/10050146/ar...,250000
2022-11-10 15:01:00,판매,아이폰12미니 128G 화이트 액정무잔상 가성비꿀폰 30만원팝니다,https://cafe.naver.com/ca-fe/cafes/10050146/ar...,300000
2022-11-10 15:02:00,판매,아이폰 11프로,https://cafe.naver.com/ca-fe/cafes/10050146/ar...,400000
2022-11-10 15:04:00,판매,아이폰 13 프로 128G 시에라블루 민트급,https://cafe.naver.com/ca-fe/cafes/10050146/ar...,850000

In [67]:
NARA.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 11256 entries, 2022-11-01 00:00:00 to 2022-11-10 15:04:00
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   isSale  11256 non-null  object
 1   title   11256 non-null  object
 2   url     11256 non-null  object
 3   price   11256 non-null  int64
dtypes: int64(1), object(3)
memory usage: 439.7+ KB

In [68]:
NARA = NARA.reset_index()
NARA

,index,isSale,title,url,price
0,2022-11-01 00:00:00,판매,86762 아이폰11PRO MAX 미드나잇 그린 64GB 배터리91%,https://cafe.naver.com/ca-fe/cafes/10050146/ar...,470000
1,2022-11-01 00:03:00,판매,15만원 아이폰8 가성비좋은 꿀 공기기 판매합니다.,https://cafe.naver.com/ca-fe/cafes/10050146/ar...,150000
2,2022-11-01 00:04:00,판매,부산 김해 아이폰13프로 그라파이트 128기가 배터리93 105만 13PRO,https://cafe.naver.com/ca-fe/cafes/10050146/ar...,1050000
3,2022-11-01 00:05:00,판매,"광주 아이폰6S,64G,골드,광주광역시",https://cafe.naver.com/ca-fe/cafes/10050146/ar...,160000
4,2022-11-01 00:06:00,판매,[판매] ﻿아이폰12프로 그래파이트 128GB A급 공기계 [76만],https://cafe.naver.com/ca-fe/cafes/10050146/ar...,760000
...,...,...,...,...,...
11251,2022-11-10 14:58:00,판매,아이폰13 스타라이트 256기가 특S급 / 직거래,https://cafe.naver.com/ca-fe/cafes/10050146/ar...,900000
11252,2022-11-10 15:00:00,판매,아이폰 11 128기가 파손폰 판매합니다,https://cafe.naver.com/ca-fe/cafes/10050146/ar...,250000
11253,2022-11-10 15:01:00,판매,아이폰12미니 128G 화이트 액정무잔상 가성비꿀폰 30만원팝니다,https://cafe.naver.com/ca-fe/cafes/10050146/ar...,300000
11254,2022-11-10 15:02:00,판매,아이폰 11프로,https://cafe.naver.com/ca-fe/cafes/10050146/ar...,400000
11255,2022-11-10 15:04:00,판매,아이폰 13 프로 128G 시에라블루 민트급,https://cafe.naver.com/ca-fe/cafes/10050146/ar...,850000

In [69]:
NARA=NARA.rename(columns={'index':'postingDate'})
NARA

,postingDate,isSale,title,url,price
0,2022-11-01 00:00:00,판매,86762 아이폰11PRO MAX 미드나잇 그린 64GB 배터리91%,https://cafe.naver.com/ca-fe/cafes/10050146/ar...,470000
1,2022-11-01 00:03:00,판매,15만원 아이폰8 가성비좋은 꿀 공기기 판매합니다.,https://cafe.naver.com/ca-fe/cafes/10050146/ar...,150000
2,2022-11-01 00:04:00,판매,부산 김해 아이폰13프로 그라파이트 128기가 배터리93 105만 13PRO,https://cafe.naver.com/ca-fe/cafes/10050146/ar...,1050000
3,2022-11-01 00:05:00,판매,"광주 아이폰6S,64G,골드,광주광역시",https://cafe.naver.com/ca-fe/cafes/10050146/ar...,160000
4,2022-11-01 00:06:00,판매,[판매] ﻿아이폰12프로 그래파이트 128GB A급 공기계 [76만],https://cafe.naver.com/ca-fe/cafes/10050146/ar...,760000
...,...,...,...,...,...
11251,2022-11-10 14:58:00,판매,아이폰13 스타라이트 256기가 특S급 / 직거래,https://cafe.naver.com/ca-fe/cafes/10050146/ar...,900000
11252,2022-11-10 15:00:00,판매,아이폰 11 128기가 파손폰 판매합니다,https://cafe.naver.com/ca-fe/cafes/10050146/ar...,250000
11253,2022-11-10 15:01:00,판매,아이폰12미니 128G 화이트 액정무잔상 가성비꿀폰 30만원팝니다,https://cafe.naver.com/ca-fe/cafes/10050146/ar...,300000
11254,2022-11-10 15:02:00,판매,아이폰 11프로,https://cafe.naver.com/ca-fe/cafes/10050146/ar...,400000
11255,2022-11-10 15:04:00,판매,아이폰 13 프로 128G 시에라블루 민트급,https://cafe.naver.com/ca-fe/cafes/10050146/ar...,850000

In [70]:
#그냥 이산치 제거
case = NARA[NARA['title'].str.contains('풀박스|묶음|갤럭시|지갑|슈어|다수|액정부품|시계|수리')].index
NARA.drop(case,inplace=True)
NARA = NARA.reset_index()
NARA = NARA.drop('index',axis=1)
NARA.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10997 entries, 0 to 10996
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   postingDate  10997 non-null  datetime64[ns]
 1   isSale       10997 non-null  object
 2   title        10997 non-null  object
 3   url          10997 non-null  object
 4   price        10997 non-null  int64
dtypes: datetime64[ns](1), int64(1), object(3)
memory usage: 429.7+ KB

In [71]:
errorPriceI = NARA[NARA.price < 40000].index
NARA.drop(errorPriceI,inplace=True)
NARA = NARA.reset_index()
NARA = NARA.drop('index',axis=1)
NARA.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10430 entries, 0 to 10429
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   postingDate  10430 non-null  datetime64[ns]
 1   isSale       10430 non-null  object
 2   title        10430 non-null  object
 3   url          10430 non-null  object
 4   price        10430 non-null  int64
dtypes: datetime64[ns](1), int64(1), object(3)
memory usage: 407.5+ KB

In [72]:
#iphone전처리
NARA.title = NARA['title'].str.replace(' ','')

NARA.title = NARA['title'].str.replace('iphone',' iphone_')
NARA.title = NARA['title'].str.replace('Iphone',' iphone_')
NARA.title = NARA['title'].str.replace('iPhone',' iphone_')
NARA.title = NARA['title'].str.replace('아이폰',' iphone_')
NARA.title = NARA['title'].str.replace('IPhone',' iphone_')


NARA.title = NARA['title'].str.replace('S','s')
NARA.title = NARA['title'].str.replace('X','x')
NARA.title = NARA['title'].str.replace('E','e')
NARA.title = NARA['title'].str.replace('R','r')

NARA.title = NARA['title'].str.replace('se1','se')
NARA.title = NARA['title'].str.replace('플러스','_plus')
NARA.title = NARA['title'].str.replace('+','_plus')
NARA.title = NARA['title'].str.replace('Plus','plus')
NARA.title = NARA['title'].str.replace('PLUS','plus')
NARA.title = NARA['title'].str.replace('프로','pro')
NARA.title = NARA['title'].str.replace('Pro','pro')
NARA.title = NARA['title'].str.replace('PRO','pro')
NARA.title = NARA['title'].str.replace('PrO','pro')
NARA.title = NARA['title'].str.replace('PRo','pro')
NARA.title = NARA['title'].str.replace('미니','mini')
NARA.title = NARA['title'].str.replace('Mini','mini')
NARA.title = NARA['title'].str.replace('MINI','mini')

NARA.title = NARA['title'].str.replace('맥스','max')
NARA.title = NARA['title'].str.replace('MAX','max')
NARA.title = NARA['title'].str.replace('MAx','max')
NARA.title = NARA['title'].str.replace('Max','max')
NARA.title = NARA['title'].str.replace('멕스','max')

NARA.title = NARA['title'].str.replace('iphone_mini12','iphone_12mini')
NARA.title = NARA['title'].str.replace('iphone_pro13','iphone_13pro')
NARA.title = NARA['title'].str.replace('iphone_mini13','iphone_13mini')

NARA

C:\Users\ljg98\AppData\Local\Temp\ipykernel_2524\2675670575.py:18: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  NARA.title = NARA['title'].str.replace('+','_plus')

,postingDate,isSale,title,url,price
0,2022-11-01 00:00:00,판매,86762 iphone_11promax미드나잇그린64GB배터리91%,https://cafe.naver.com/ca-fe/cafes/10050146/ar...,470000
1,2022-11-01 00:03:00,판매,15만원 iphone_8가성비좋은꿀공기기판매합니다.,https://cafe.naver.com/ca-fe/cafes/10050146/ar...,150000
2,2022-11-01 00:04:00,판매,부산김해 iphone_13pro그라파이트128기가배터리93105만13pro,https://cafe.naver.com/ca-fe/cafes/10050146/ar...,1050000
3,2022-11-01 00:05:00,판매,"광주 iphone_6s,64G,골드,광주광역시",https://cafe.naver.com/ca-fe/cafes/10050146/ar...,160000
4,2022-11-01 00:06:00,판매,[판매]﻿ iphone_12pro그래파이트128GBA급공기계[76만],https://cafe.naver.com/ca-fe/cafes/10050146/ar...,760000
...,...,...,...,...,...
10425,2022-11-10 14:58:00,판매,iphone_13스타라이트256기가특s급/직거래,https://cafe.naver.com/ca-fe/cafes/10050146/ar...,900000
10426,2022-11-10 15:00:00,판매,iphone_11128기가파손폰판매합니다,https://cafe.naver.com/ca-fe/cafes/10050146/ar...,250000
10427,2022-11-10 15:01:00,판매,iphone_12mini128G화이트액정무잔상가성비꿀폰30만원팝니다,https://cafe.naver.com/ca-fe/cafes/10050146/ar...,300000
10428,2022-11-10 15:02:00,판매,iphone_11pro,https://cafe.naver.com/ca-fe/cafes/10050146/ar...,400000
10429,2022-11-10 15:04:00,판매,iphone_13pro128G시에라블루민트급,https://cafe.naver.com/ca-fe/cafes/10050146/ar...,850000

In [73]:
def changeTitle(target, p_List):
    for product in p_List:
        case = target[target['title'].str.contains(product)].index
        target['title'].iloc[case] = product.upper()
    return target

In [74]:
productlistI = ['iphone_14promax', 'iphone_14pro', 'iphone_14_plus', 'iphone_14', 'iphone_se3','iphone_13promax', 'iphone_13pro', 'iphone_13mini', 'iphone_13','iphone_12promax', 'iphone_12pro', 'iphone_12mini', 'iphone_12', 'iphone_se2', 'iphone_11promax', 'iphone_11pro', 'iphone_11', 'iphone_xsmax', 'iphone_xs', 'iphone_xr', 'iphone_x', 'iphone_8plus', 'iphone_8', 'iphone_7plus', 'iphone_7', 'iphone_se', 'iphone_6s_plus', 'iphone_6s', 'iphone_6_plus', 'iphone_6', 'iphone_5','iphone_5s', 'iphone_4s', 'iphone_4']
newproductlistI=[]
countI = []
i=1
for pi in productlistI:
    countI.append(i)
    newproductlistI.append(pi.upper())
    i=i+1

In [75]:
NARA = changeTitle(NARA,productlistI)
NARA

C:\Users\ljg98\AppData\Local\Temp\ipykernel_2524\1234974987.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  target['title'].iloc[case] = product.upper()

,postingDate,isSale,title,url,price
0,2022-11-01 00:00:00,판매,IPHONE_11PROMAX,https://cafe.naver.com/ca-fe/cafes/10050146/ar...,470000
1,2022-11-01 00:03:00,판매,IPHONE_8,https://cafe.naver.com/ca-fe/cafes/10050146/ar...,150000
2,2022-11-01 00:04:00,판매,IPHONE_13PRO,https://cafe.naver.com/ca-fe/cafes/10050146/ar...,1050000
3,2022-11-01 00:05:00,판매,IPHONE_6S,https://cafe.naver.com/ca-fe/cafes/10050146/ar...,160000
4,2022-11-01 00:06:00,판매,IPHONE_12PRO,https://cafe.naver.com/ca-fe/cafes/10050146/ar...,760000
...,...,...,...,...,...
10425,2022-11-10 14:58:00,판매,IPHONE_13,https://cafe.naver.com/ca-fe/cafes/10050146/ar...,900000
10426,2022-11-10 15:00:00,판매,IPHONE_11,https://cafe.naver.com/ca-fe/cafes/10050146/ar...,250000
10427,2022-11-10 15:01:00,판매,IPHONE_12MINI,https://cafe.naver.com/ca-fe/cafes/10050146/ar...,300000
10428,2022-11-10 15:02:00,판매,IPHONE_11PRO,https://cafe.naver.com/ca-fe/cafes/10050146/ar...,400000
10429,2022-11-10 15:04:00,판매,IPHONE_13PRO,https://cafe.naver.com/ca-fe/cafes/10050146/ar...,850000

In [76]:
NARA['postingDate']  = pd.to_datetime(NARA['postingDate'] , format='%Y-%m-%d %H:%M:%S')

In [77]:
NARA.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10430 entries, 0 to 10429
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   postingDate  10430 non-null  datetime64[ns]
 1   isSale       10430 non-null  object
 2   title        10430 non-null  object
 3   url          10430 non-null  object
 4   price        10430 non-null  int64
dtypes: datetime64[ns](1), int64(1), object(3)
memory usage: 407.5+ KB

In [78]:
NARA.to_csv("NARA.csv", mode='w')
NARA

,postingDate,isSale,title,url,price
0,2022-11-01 00:00:00,판매,IPHONE_11PROMAX,https://cafe.naver.com/ca-fe/cafes/10050146/ar...,470000
1,2022-11-01 00:03:00,판매,IPHONE_8,https://cafe.naver.com/ca-fe/cafes/10050146/ar...,150000
2,2022-11-01 00:04:00,판매,IPHONE_13PRO,https://cafe.naver.com/ca-fe/cafes/10050146/ar...,1050000
3,2022-11-01 00:05:00,판매,IPHONE_6S,https://cafe.naver.com/ca-fe/cafes/10050146/ar...,160000
4,2022-11-01 00:06:00,판매,IPHONE_12PRO,https://cafe.naver.com/ca-fe/cafes/10050146/ar...,760000
...,...,...,...,...,...
10425,2022-11-10 14:58:00,판매,IPHONE_13,https://cafe.naver.com/ca-fe/cafes/10050146/ar...,900000
10426,2022-11-10 15:00:00,판매,IPHONE_11,https://cafe.naver.com/ca-fe/cafes/10050146/ar...,250000
10427,2022-11-10 15:01:00,판매,IPHONE_12MINI,https://cafe.naver.com/ca-fe/cafes/10050146/ar...,300000
10428,2022-11-10 15:02:00,판매,IPHONE_11PRO,https://cafe.naver.com/ca-fe/cafes/10050146/ar...,400000
10429,2022-11-10 15:04:00,판매,IPHONE_13PRO,https://cafe.naver.com/ca-fe/cafes/10050146/ar...,850000