In [806]:
import pandas as pd
carrot= pd.read_csv("testfile/carrot_Data_14304.txt",index_col = 0)

In [807]:
carrot.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14304 entries, 0 to 14303
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   title   14304 non-null  object
 1   price   14197 non-null  object
 2   region  14304 non-null  object
dtypes: object(3)
memory usage: 447.0+ KB

In [808]:
#null값 제거
carrot = carrot.dropna(axis=0)
carrot = carrot.reset_index()
carrot = carrot.drop('index',axis=1)
carrot.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14197 entries, 0 to 14196
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   title   14197 non-null  object
 1   price   14197 non-null  object
 2   region  14197 non-null  object
dtypes: object(3)
memory usage: 332.9+ KB

In [809]:
#핸드폰 케이스 항목 제거
case = carrot[carrot['title'].str.contains('케이스|캐이스')].index
carrot.drop(case,inplace=True)
carrot = carrot.reset_index()
carrot = carrot.drop('index',axis=1)
carrot.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12102 entries, 0 to 12101
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   title   12102 non-null  object
 1   price   12102 non-null  object
 2   region  12102 non-null  object
dtypes: object(3)
memory usage: 283.8+ KB

In [810]:
#나눔 항목 제거
share = carrot[carrot['title'].str.contains('나눔')].index
carrot.drop(share,inplace=True)
carrot = carrot.reset_index()
carrot = carrot.drop('index',axis=1)
carrot.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12089 entries, 0 to 12088
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   title   12089 non-null  object
 1   price   12089 non-null  object
 2   region  12089 non-null  object
dtypes: object(3)
memory usage: 283.5+ KB

In [811]:
#교환 항목 제거 단 판매도 하는 경우에는 제거 안함
exchage = carrot[carrot['title'].str.contains('교환|교신')].index
sale = carrot[carrot['title'].str.contains('판매')].index
onlyEx = set(exchage)-set(sale)
carrot.drop(onlyEx,inplace=True)
carrot = carrot.reset_index()
carrot = carrot.drop('index',axis=1)
carrot.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11894 entries, 0 to 11893
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   title   11894 non-null  object
 1   price   11894 non-null  object
 2   region  11894 non-null  object
dtypes: object(3)
memory usage: 278.9+ KB

In [812]:
#구매 항목 제거
buy = carrot[carrot['title'].str.contains('구매|삼|삽니다|매입|구해요|구합니다|급구')].index

carrot.drop(buy,inplace=True)
carrot = carrot.reset_index()
carrot = carrot.drop('index',axis=1)
carrot.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11392 entries, 0 to 11391
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   title   11392 non-null  object
 1   price   11392 non-null  object
 2   region  11392 non-null  object
dtypes: object(3)
memory usage: 267.1+ KB

In [813]:
#가격 이산치 제거
errorPrice = carrot[carrot['price'].str.contains('1원|나눔|2원|10원|100원|9999원')].index
carrot.drop(errorPrice,inplace=True)
carrot = carrot.reset_index()
carrot = carrot.drop('index',axis=1)
carrot.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11313 entries, 0 to 11312
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   title   11313 non-null  object
 1   price   11313 non-null  object
 2   region  11313 non-null  object
dtypes: object(3)
memory usage: 265.3+ KB

In [814]:
carrot

,title,price,region
0,아이폰12미니 아이폰미니12 아이폰12 아이폰미니 12 mini 128기가 128G...,"430,000원",경기도 화성시 영천동
1,아이폰se2 128gb red 박스드림/ 아이폰se3 아이폰8 아이폰7,"190,000원",경남 거제시 문동동
2,아이폰se2 128gb red 박스드림/ 아이폰se3 아이폰8 아이폰7,"190,000원",경남 창원시 성산구 성주동
3,아이폰se2 128gb red 박스드림/ 아이폰se3 아이폰8 아이폰7,"190,000원",경남 창원시 마산회원구 회원동
4,아이폰se2 128기가 red 박스포함/ 아이폰se3 아이폰8 아이폰7,"175,000원",경남 김해시 주촌면
...,...,...,...
11308,갤럭시 워치5 풀커버 (44mm),"24,000원",인천 부평구 부개1동
11309,갤럭시 폴드3 올수리 S급 판매 합니다,"980,000원",서울 동대문구 장안제1동
11310,갤럭시 퀀텀2,"250,000원",대전 유성구 노은1동
11311,갤럭시워치 20m 호환 가능 스트랩,"7,000원",경북 경주시 안강읍
11312,갤럭시워치5 30퍼 쿠폰 팔아요,"15,000원",경기도 성남시 분당구 백현동

In [815]:
#price colum을 int 형식으로 변환
def priceS2I(data,cName):
    copyd = data.copy()
    j = 0
    for oldd in copyd[cName]:
        newd = oldd.replace(',','')
        newd = newd.replace(' ','')
        newd = newd.replace('만','0000')
        newd = newd.replace('원','')
        try:
            copyd[cName].iloc[j] = int(newd)
        except ValueError:
            copyd[cName].iloc[j] = 1
        j = j+1
    return copyd[cName]

In [816]:
#갤럭시 시작 위치 찾기
gal = carrot[carrot['title'].str.contains('갤럭시')].index
gal

Int64Index([  711,  1329,  1339,  2594,  4907,  5190,  7892,  7893,  7894,
             7895,
            ...
            11303, 11304, 11305, 11306, 11307, 11308, 11309, 11310, 11311,
            11312],
           dtype='int64', length=3318)

In [817]:
#7892이전 값은 이산치
galnum = 7892
carrotIphone = carrot[:galnum]
carrotGal = carrot[galnum:]
carrotIphone.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7892 entries, 0 to 7891
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   title   7892 non-null   object
 1   price   7892 non-null   object
 2   region  7892 non-null   object
dtypes: object(3)
memory usage: 185.1+ KB

In [818]:
#아이폰 중 갤럭시 제거
errorGal = carrotIphone[carrotIphone['title'].str.contains('갤럭시|겔럭시|Galaxy|galaxy')].index

carrotIphone.drop(errorGal,inplace=True)
carrotIphone = carrotIphone.reset_index()
carrotIphone = carrotIphone.drop('index',axis=1)
carrotIphone.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7886 entries, 0 to 7885
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   title   7886 non-null   object
 1   price   7886 non-null   object
 2   region  7886 non-null   object
dtypes: object(3)
memory usage: 185.0+ KB

C:\Users\ljg98\AppData\Local\Temp\ipykernel_17880\4121312729.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  carrotIphone.drop(errorGal,inplace=True)

In [819]:
carrotGal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3421 entries, 7892 to 11312
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   title   3421 non-null   object
 1   price   3421 non-null   object
 2   region  3421 non-null   object
dtypes: object(3)
memory usage: 80.3+ KB

In [820]:
#갤럭시 중 아이폰 제거
errorIp = carrotGal[carrotGal['title'].str.contains('아이폰|iPhone|Iphone|iphone|IPhone')].index

carrotGal.drop(errorIp, inplace=True)
carrotGal = carrotGal.reset_index()
carrotGal = carrotGal.drop('index', axis=1)
carrotGal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3416 entries, 0 to 3415
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   title   3416 non-null   object
 1   price   3416 non-null   object
 2   region  3416 non-null   object
dtypes: object(3)
memory usage: 80.2+ KB

C:\Users\ljg98\AppData\Local\Temp\ipykernel_17880\1753858609.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  carrotGal.drop(errorIp, inplace=True)

In [821]:
#각각저장
carrotIphone.to_csv('testfile/carrotIphoneProto.csv', mode='w')
carrotGal.to_csv('testfile/carrotGalProto.csv', mode='w')