In [1451]:
import pandas as pd
carrot= pd.read_csv("testfile/carrot_Data_50.txt",index_col = 0)

In [1452]:
carrot

,title,price,region
0,(새상품)아이폰13케이스/아이폰13프로pro케이스/아이폰12케이스/아이폰12프로pr...,"4,000원",서울 관악구 신사동
1,아이폰 11 아이폰12 아이폰12프로맥스 투명케이스 (새제품) 끈포함,"2,000원",서울 마포구 대흥동
2,아이폰 12 미니 256기가 화이트 아이폰12 아이폰미니,"500,000원",경남 김해시 장유3동
3,아이폰 12 12gb 레드 ( iPhone 12 ),"500,000원",서울 성동구 행당제1동
4,(새제품)아이폰 12프로 케이스/아이폰케이스/아이폰12프로/아이폰,"8,000원",서울 서대문구 남가좌동
5,아이폰 12 / 프로 케이스 iphone 12 pro case,NaN,대구 수성구 수성1가동
6,아이폰12 미니 128g iphone12 mini 블랙 판매합니다(화면 보호필름입니다),"400,000원",서울 강서구 화곡본동
7,아이폰12pro 128G 아이폰12프로,"720,000원",광주 광산구 첨단1동
8,아이폰 12프로 그라파이트 128g 자급제-->아이폰 12프로 맥스 그라파이트 + ...,NaN,서울 성동구 성수2가제1동
9,아이폰12프로/아이폰12 정품 실리콘케이스,"45,000원",서울 서대문구 홍은동
10,아이폰12/아이폰12프로 케이스,"5,000원",인천 미추홀구 주안4동
11,잉크 아이폰12프로맥스케이스 / iphone 12 pro max case,"25,000원",경기도 안양시 동안구 평안동
12,아이폰12 프로 아이폰12프로 맥스,"3,000원",서울 서대문구 대현동
13,아이폰12————->아이폰12이상 모델,"212,121원",전남 여수시 시전동
14,(새상품)아이폰13케이스/아이폰13프로pro케이스/아이폰12케이스/아이폰12프로pr...,"4,000원",서울 관악구 신사동
15,아이폰12프로128 애케플으로 아이폰13구해요,NaN,경기도 동두천시 중앙동
16,아이폰12 아이폰12프로 Pelican 케이스,"16,000원",서울 서초구 방배동
17,아이폰12 미니 화이트 아이폰 미니 12 iphone,"450,000원",서울 서초구 서초2동
18,아이폰12 미니 화이트 아이폰 미니 12 iphone,"450,000원",서울 강남구 대치동
19,아이폰 12 미니 화이트 >> 아이폰 12 이상 교환,"121,212원",충남 아산시 배방읍
20,아이폰12 프로 아이폰12 pro 256gb 실버,"780,000원",서울 도봉구 방학제3동
21,아이폰11프로256이랑 아이폰 12or12pro 13 13pro 교환하실 분!!,"10,000원",경기도 광명시 하안3동
22,새상품 ) 아이폰 12 케이스 iphone 12,"2,500원",대구 달서구 상인동
23,(새상품)아이폰12 / 아이폰12프로 맥세이프 케이스,"16,000원",세종시 집현동
24,미개봉 아이폰12 / 아이폰12 프로 에어 가드 젤리케이스,"2,000원",경기도 수원시 영통구 영통1동
25,"아이폰12프맥 > 아이폰12프로, 아이폰12",1원,경기도 부천시 춘의동
26,아이폰12/아이폰12pro 하트 케이스 + 그립톡 같이,"10,000원",서울 관악구 봉천동
27,아이폰12프로맥스케이스 / 폰케이스 / 아이폰12프로 / 아이폰12프로맥스 / 아이...,"2,000원",경기도 남양주시 다산2동
28,아이폰12/아이폰12프로 겸용 케이스,"5,000원",서울 금천구 시흥제2동
29,아이폰 12 미니 256 을 아이폰 12 128교환,NaN,광주 북구 일곡동
30,[급매 S급] iPhone 12 mini 128G / 아이폰 12 미니,"380,000원",서울 서대문구 남가좌동
31,"아이폰 12 케이스 일괄 판매 (12프로 , 12)","15,000원",서울 강동구 상일동
32,아이폰12 / 아이폰12프로 케이스 투명 범퍼,"1,500원",인천 남동구 구월동
33,아이폰12 아이폰12프로 벨킨 울트라글라스 강화유리,"20,000원",충북 청주시 흥덕구 봉명2.송정동
34,"아이폰12미니 128 , iPhone12 mini 128","600,000원",서울 강북구 송천동
35,아이폰12 / 아이폰12pro 강화유리필름 2개,"10,000원",경남 밀양시 내이동
36,망그러진 곰 아이폰12프로/아이폰12 그립톡 부착된 케이스 팝니다❤️‍🔥,"13,500원",서울 성북구 석관동
37,아이폰 se3 아이폰12미니나 12 교신 원해요 추물 에어팟 2세대,NaN,경기도 안산시 단원구 중앙동
38,아이폰12맥세이프케이스 아이폰12프로맥세이프케이스팝니다,"8,000원",인천 미추홀구 주안5동
39,iPhone 12 pro max / 아이폰 12 프로맥스 128GB 판매합니다.,"850,000원",서울 구로구 오류제1동
40,아이폰12프로 아이폰12pro 512 골드 팝니다,"855,000원",서울 은평구 녹번동
41,아이폰12미니 블랙 128GB 자급제 48만원 (아이폰12 mini),"480,000원",서울 종로구 종로5.6가동
42,(새상품)아이폰13케이스/아이폰13프로pro케이스/아이폰12케이스/아이폰12프로pr...,"4,000원",서울 관악구 신사동
43,아이폰 아이폰11 아이폰 12 아이폰13 아이폰xr 아이폰xs 아이폰x 아이폰전기종...,999만 9999원,서울 성동구 용답동
44,아이폰12 아이폰13 애플로고 케이스 아이폰케이스,"9,000원",울산 남구 신정동
45,"아이폰 케이스 아이폰 12 프로, 아이폰 12 용 앵키하우스 무쪼 MUJJO 가죽 ...","30,000원",경기도 화성시 진안동
46,파손 아이폰7플러스 이상 삽니다. 아이폰x 아이폰11.12,"100,000원",충남 천안시 동남구 구성동
47,파손 아이폰7플러스 이상 삽니다. 아이폰x 아이폰11.12,"100,000원",경기도 하남시 초일동
48,파손 아이폰7플러스 이상 삽니다. 아이폰x 아이폰11.12,"100,000원",서울 동대문구 휘경제1동

In [1453]:
carrot.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 49 entries, 0 to 48
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   title   49 non-null     object
 1   price   44 non-null     object
 2   region  49 non-null     object
dtypes: object(3)
memory usage: 1.5+ KB

In [1454]:
carrot = carrot.dropna(axis=0)
carrot.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 44 entries, 0 to 48
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   title   44 non-null     object
 1   price   44 non-null     object
 2   region  44 non-null     object
dtypes: object(3)
memory usage: 1.4+ KB

In [1455]:
carrot['region'].value_counts()

서울 관악구 신사동            3
서울 서대문구 남가좌동          2
인천 미추홀구 주안5동          1
경기도 남양주시 다산2동         1
서울 금천구 시흥제2동          1
서울 강동구 상일동            1
인천 남동구 구월동            1
충북 청주시 흥덕구 봉명2.송정동    1
서울 강북구 송천동            1
경남 밀양시 내이동            1
서울 성북구 석관동            1
서울 구로구 오류제1동          1
경기도 부천시 춘의동           1
서울 은평구 녹번동            1
서울 종로구 종로5.6가동        1
서울 성동구 용답동            1
울산 남구 신정동             1
경기도 화성시 진안동           1
충남 천안시 동남구 구성동        1
경기도 하남시 초일동           1
서울 관악구 봉천동            1
경기도 수원시 영통구 영통1동      1
서울 마포구 대흥동            1
서울 서대문구 대현동           1
경남 김해시 장유3동           1
서울 성동구 행당제1동          1
서울 강서구 화곡본동           1
광주 광산구 첨단1동           1
서울 서대문구 홍은동           1
인천 미추홀구 주안4동          1
경기도 안양시 동안구 평안동       1
전남 여수시 시전동            1
세종시 집현동               1
서울 서초구 방배동            1
서울 서초구 서초2동           1
서울 강남구 대치동            1
충남 아산시 배방읍            1
서울 도봉구 방학제3동          1
경기도 광명시 하안3동          1
대구 달서구 상인동            1
서울 동대문구 휘경제1동         1
Name: region, dtype: int64

In [1456]:
region = pd.DataFrame(columns=['region','regioncode'])

In [1457]:
region

Empty DataFrame
Columns: [region, regioncode]
Index: []

In [1458]:
i = 0
for ori in carrot['region']:
    checkNum = (region['region'].str.contains(ori)).sum()
    if checkNum ==0:
        new_data = {
            'region' : ori,
            'regioncode' : i
        }
        region = region.append(new_data, ignore_index=True)
        i = i+1

C:\Users\ljg98\AppData\Local\Temp\ipykernel_23756\3186507496.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  region = region.append(new_data, ignore_index=True)
C:\Users\ljg98\AppData\Local\Temp\ipykernel_23756\3186507496.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  region = region.append(new_data, ignore_index=True)
C:\Users\ljg98\AppData\Local\Temp\ipykernel_23756\3186507496.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  region = region.append(new_data, ignore_index=True)
C:\Users\ljg98\AppData\Local\Temp\ipykernel_23756\3186507496.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  region = region.append(new_data, ignore_index=True)
C:\Users\ljg98\AppData\Local\Temp\ipykernel_23756\3186507496.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  region = region.append(new_data, ignore_index=True)
C:\Users\ljg98\AppData\Local\Temp\ipykernel_23756\3186507496.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  region = region.append(new_data, ignore_index=True)
C:\Users\ljg98\AppData\Local\Temp\ipykernel_23756\3186507496.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  region = region.append(new_data, ignore_index=True)
C:\Users\ljg98\AppData\Local\Temp\ipykernel_23756\3186507496.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  region = region.append(new_data, ignore_index=True)
C:\Users\ljg98\AppData\Local\Temp\ipykernel_23756\3186507496.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  region = region.append(new_data, ignore_index=True)
C:\Users\ljg98\AppData\Local\Temp\ipykernel_23756\3186507496.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  region = region.append(new_data, ignore_index=True)
C:\Users\ljg98\AppData\Local\Temp\ipykernel_23756\3186507496.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  region = region.append(new_data, ignore_index=True)
C:\Users\ljg98\AppData\Local\Temp\ipykernel_23756\3186507496.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  region = region.append(new_data, ignore_index=True)
C:\Users\ljg98\AppData\Local\Temp\ipykernel_23756\3186507496.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  region = region.append(new_data, ignore_index=True)
C:\Users\ljg98\AppData\Local\Temp\ipykernel_23756\3186507496.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  region = region.append(new_data, ignore_index=True)
C:\Users\ljg98\AppData\Local\Temp\ipykernel_23756\3186507496.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  region = region.append(new_data, ignore_index=True)
C:\Users\ljg98\AppData\Local\Temp\ipykernel_23756\3186507496.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  region = region.append(new_data, ignore_index=True)
C:\Users\ljg98\AppData\Local\Temp\ipykernel_23756\3186507496.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  region = region.append(new_data, ignore_index=True)
C:\Users\ljg98\AppData\Local\Temp\ipykernel_23756\3186507496.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  region = region.append(new_data, ignore_index=True)
C:\Users\ljg98\AppData\Local\Temp\ipykernel_23756\3186507496.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  region = region.append(new_data, ignore_index=True)
C:\Users\ljg98\AppData\Local\Temp\ipykernel_23756\3186507496.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  region = region.append(new_data, ignore_index=True)
C:\Users\ljg98\AppData\Local\Temp\ipykernel_23756\3186507496.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  region = region.append(new_data, ignore_index=True)
C:\Users\ljg98\AppData\Local\Temp\ipykernel_23756\3186507496.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  region = region.append(new_data, ignore_index=True)
C:\Users\ljg98\AppData\Local\Temp\ipykernel_23756\3186507496.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  region = region.append(new_data, ignore_index=True)
C:\Users\ljg98\AppData\Local\Temp\ipykernel_23756\3186507496.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  region = region.append(new_data, ignore_index=True)
C:\Users\ljg98\AppData\Local\Temp\ipykernel_23756\3186507496.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  region = region.append(new_data, ignore_index=True)
C:\Users\ljg98\AppData\Local\Temp\ipykernel_23756\3186507496.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  region = region.append(new_data, ignore_index=True)
C:\Users\ljg98\AppData\Local\Temp\ipykernel_23756\3186507496.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  region = region.append(new_data, ignore_index=True)
C:\Users\ljg98\AppData\Local\Temp\ipykernel_23756\3186507496.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  region = region.append(new_data, ignore_index=True)
C:\Users\ljg98\AppData\Local\Temp\ipykernel_23756\3186507496.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  region = region.append(new_data, ignore_index=True)
C:\Users\ljg98\AppData\Local\Temp\ipykernel_23756\3186507496.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  region = region.append(new_data, ignore_index=True)
C:\Users\ljg98\AppData\Local\Temp\ipykernel_23756\3186507496.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  region = region.append(new_data, ignore_index=True)
C:\Users\ljg98\AppData\Local\Temp\ipykernel_23756\3186507496.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  region = region.append(new_data, ignore_index=True)
C:\Users\ljg98\AppData\Local\Temp\ipykernel_23756\3186507496.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  region = region.append(new_data, ignore_index=True)
C:\Users\ljg98\AppData\Local\Temp\ipykernel_23756\3186507496.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  region = region.append(new_data, ignore_index=True)
C:\Users\ljg98\AppData\Local\Temp\ipykernel_23756\3186507496.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  region = region.append(new_data, ignore_index=True)
C:\Users\ljg98\AppData\Local\Temp\ipykernel_23756\3186507496.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  region = region.append(new_data, ignore_index=True)
C:\Users\ljg98\AppData\Local\Temp\ipykernel_23756\3186507496.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  region = region.append(new_data, ignore_index=True)
C:\Users\ljg98\AppData\Local\Temp\ipykernel_23756\3186507496.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  region = region.append(new_data, ignore_index=True)
C:\Users\ljg98\AppData\Local\Temp\ipykernel_23756\3186507496.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  region = region.append(new_data, ignore_index=True)
C:\Users\ljg98\AppData\Local\Temp\ipykernel_23756\3186507496.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  region = region.append(new_data, ignore_index=True)
C:\Users\ljg98\AppData\Local\Temp\ipykernel_23756\3186507496.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  region = region.append(new_data, ignore_index=True)

In [1459]:

region

                region regioncode
0           서울 관악구 신사동          0
1           서울 마포구 대흥동          1
2          경남 김해시 장유3동          2
3         서울 성동구 행당제1동          3
4         서울 서대문구 남가좌동          4
5          서울 강서구 화곡본동          5
6          광주 광산구 첨단1동          6
7          서울 서대문구 홍은동          7
8         인천 미추홀구 주안4동          8
9      경기도 안양시 동안구 평안동          9
10         서울 서대문구 대현동         10
11          전남 여수시 시전동         11
12          서울 서초구 방배동         12
13         서울 서초구 서초2동         13
14          서울 강남구 대치동         14
15          충남 아산시 배방읍         15
16        서울 도봉구 방학제3동         16
17        경기도 광명시 하안3동         17
18          대구 달서구 상인동         18
19             세종시 집현동         19
20    경기도 수원시 영통구 영통1동         20
21         경기도 부천시 춘의동         21
22          서울 관악구 봉천동         22
23       경기도 남양주시 다산2동         23
24        서울 금천구 시흥제2동         24
25          서울 강동구 상일동         25
26          인천 남동구 구월동         26
27  충북 청주시 흥덕구 봉명2.송정동         27
28          서울 강북구 송천동         28
29          경남 밀양시 내이동         29
30          서울 성북구 석관동         30
31        인천 미추홀구 주안5동         31
32        서울 구로구 오류제1동         32
33          서울 은평구 녹번동         33
34      서울 종로구 종로5.6가동         34
35          서울 성동구 용답동         35
36           울산 남구 신정동         36
37         경기도 화성시 진안동         37
38      충남 천안시 동남구 구성동         38
39         경기도 하남시 초일동         39
40       서울 동대문구 휘경제1동         40

In [1460]:
carrot = pd.merge(carrot, region, left_on='region', right_on='region', how='inner')
carrot

,title,price,region,regioncode
0,(새상품)아이폰13케이스/아이폰13프로pro케이스/아이폰12케이스/아이폰12프로pr...,"4,000원",서울 관악구 신사동,0
1,(새상품)아이폰13케이스/아이폰13프로pro케이스/아이폰12케이스/아이폰12프로pr...,"4,000원",서울 관악구 신사동,0
2,(새상품)아이폰13케이스/아이폰13프로pro케이스/아이폰12케이스/아이폰12프로pr...,"4,000원",서울 관악구 신사동,0
3,아이폰 11 아이폰12 아이폰12프로맥스 투명케이스 (새제품) 끈포함,"2,000원",서울 마포구 대흥동,1
4,아이폰 12 미니 256기가 화이트 아이폰12 아이폰미니,"500,000원",경남 김해시 장유3동,2
5,아이폰 12 12gb 레드 ( iPhone 12 ),"500,000원",서울 성동구 행당제1동,3
6,(새제품)아이폰 12프로 케이스/아이폰케이스/아이폰12프로/아이폰,"8,000원",서울 서대문구 남가좌동,4
7,[급매 S급] iPhone 12 mini 128G / 아이폰 12 미니,"380,000원",서울 서대문구 남가좌동,4
8,아이폰12 미니 128g iphone12 mini 블랙 판매합니다(화면 보호필름입니다),"400,000원",서울 강서구 화곡본동,5
9,아이폰12pro 128G 아이폰12프로,"720,000원",광주 광산구 첨단1동,6
10,아이폰12프로/아이폰12 정품 실리콘케이스,"45,000원",서울 서대문구 홍은동,7
11,아이폰12/아이폰12프로 케이스,"5,000원",인천 미추홀구 주안4동,8
12,잉크 아이폰12프로맥스케이스 / iphone 12 pro max case,"25,000원",경기도 안양시 동안구 평안동,9
13,아이폰12 프로 아이폰12프로 맥스,"3,000원",서울 서대문구 대현동,10
14,아이폰12————->아이폰12이상 모델,"212,121원",전남 여수시 시전동,11
15,아이폰12 아이폰12프로 Pelican 케이스,"16,000원",서울 서초구 방배동,12
16,아이폰12 미니 화이트 아이폰 미니 12 iphone,"450,000원",서울 서초구 서초2동,13
17,아이폰12 미니 화이트 아이폰 미니 12 iphone,"450,000원",서울 강남구 대치동,14
18,아이폰 12 미니 화이트 >> 아이폰 12 이상 교환,"121,212원",충남 아산시 배방읍,15
19,아이폰12 프로 아이폰12 pro 256gb 실버,"780,000원",서울 도봉구 방학제3동,16
20,아이폰11프로256이랑 아이폰 12or12pro 13 13pro 교환하실 분!!,"10,000원",경기도 광명시 하안3동,17
21,새상품 ) 아이폰 12 케이스 iphone 12,"2,500원",대구 달서구 상인동,18
22,(새상품)아이폰12 / 아이폰12프로 맥세이프 케이스,"16,000원",세종시 집현동,19
23,미개봉 아이폰12 / 아이폰12 프로 에어 가드 젤리케이스,"2,000원",경기도 수원시 영통구 영통1동,20
24,"아이폰12프맥 > 아이폰12프로, 아이폰12",1원,경기도 부천시 춘의동,21
25,아이폰12/아이폰12pro 하트 케이스 + 그립톡 같이,"10,000원",서울 관악구 봉천동,22
26,아이폰12프로맥스케이스 / 폰케이스 / 아이폰12프로 / 아이폰12프로맥스 / 아이...,"2,000원",경기도 남양주시 다산2동,23
27,아이폰12/아이폰12프로 겸용 케이스,"5,000원",서울 금천구 시흥제2동,24
28,"아이폰 12 케이스 일괄 판매 (12프로 , 12)","15,000원",서울 강동구 상일동,25
29,아이폰12 / 아이폰12프로 케이스 투명 범퍼,"1,500원",인천 남동구 구월동,26
30,아이폰12 아이폰12프로 벨킨 울트라글라스 강화유리,"20,000원",충북 청주시 흥덕구 봉명2.송정동,27
31,"아이폰12미니 128 , iPhone12 mini 128","600,000원",서울 강북구 송천동,28
32,아이폰12 / 아이폰12pro 강화유리필름 2개,"10,000원",경남 밀양시 내이동,29
33,망그러진 곰 아이폰12프로/아이폰12 그립톡 부착된 케이스 팝니다❤️‍🔥,"13,500원",서울 성북구 석관동,30
34,아이폰12맥세이프케이스 아이폰12프로맥세이프케이스팝니다,"8,000원",인천 미추홀구 주안5동,31
35,iPhone 12 pro max / 아이폰 12 프로맥스 128GB 판매합니다.,"850,000원",서울 구로구 오류제1동,32
36,아이폰12프로 아이폰12pro 512 골드 팝니다,"855,000원",서울 은평구 녹번동,33
37,아이폰12미니 블랙 128GB 자급제 48만원 (아이폰12 mini),"480,000원",서울 종로구 종로5.6가동,34
38,아이폰 아이폰11 아이폰 12 아이폰13 아이폰xr 아이폰xs 아이폰x 아이폰전기종...,999만 9999원,서울 성동구 용답동,35
39,아이폰12 아이폰13 애플로고 케이스 아이폰케이스,"9,000원",울산 남구 신정동,36
40,"아이폰 케이스 아이폰 12 프로, 아이폰 12 용 앵키하우스 무쪼 MUJJO 가죽 ...","30,000원",경기도 화성시 진안동,37
41,파손 아이폰7플러스 이상 삽니다. 아이폰x 아이폰11.12,"100,000원",충남 천안시 동남구 구성동,38
42,파손 아이폰7플러스 이상 삽니다. 아이폰x 아이폰11.12,"100,000원",경기도 하남시 초일동,39
43,파손 아이폰7플러스 이상 삽니다. 아이폰x 아이폰11.12,"100,000원",서울 동대문구 휘경제1동,40

In [1461]:
from carrot.DBmethod import *

In [1462]:
#region.to_csv('testfile/region.csv', mode='w')

In [1463]:
#carrot['price'] = carrot['price'].astype('string')

In [1464]:
carrot.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 44 entries, 0 to 43
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   title       44 non-null     object
 1   price       44 non-null     object
 2   region      44 non-null     object
 3   regioncode  44 non-null     object
dtypes: object(4)
memory usage: 1.7+ KB

In [1465]:
j = 0
for oldd in carrot['price']:
    newd = oldd.replace(',','')
    newd = newd.replace('만','0000')
    newd = newd.replace('원','')
    try:
        carrot['price'].iloc[j] = int(newd)
    except ValueError:
        carrot['price'].iloc[j] = 1


    j = j+1
carrot['price']

0       4000
1       4000
2       4000
3       2000
4     500000
5     500000
6       8000
7     380000
8     400000
9     720000
10     45000
11      5000
12     25000
13      3000
14    212121
15     16000
16    450000
17    450000
18    121212
19    780000
20     10000
21      2500
22     16000
23      2000
24         1
25     10000
26      2000
27      5000
28     15000
29      1500
30     20000
31    600000
32     10000
33     13500
34      8000
35    850000
36    855000
37    480000
38         1
39      9000
40     30000
41    100000
42    100000
43    100000
Name: price, dtype: object

In [1466]:
carrot

,title,price,region,regioncode
0,(새상품)아이폰13케이스/아이폰13프로pro케이스/아이폰12케이스/아이폰12프로pr...,4000,서울 관악구 신사동,0
1,(새상품)아이폰13케이스/아이폰13프로pro케이스/아이폰12케이스/아이폰12프로pr...,4000,서울 관악구 신사동,0
2,(새상품)아이폰13케이스/아이폰13프로pro케이스/아이폰12케이스/아이폰12프로pr...,4000,서울 관악구 신사동,0
3,아이폰 11 아이폰12 아이폰12프로맥스 투명케이스 (새제품) 끈포함,2000,서울 마포구 대흥동,1
4,아이폰 12 미니 256기가 화이트 아이폰12 아이폰미니,500000,경남 김해시 장유3동,2
5,아이폰 12 12gb 레드 ( iPhone 12 ),500000,서울 성동구 행당제1동,3
6,(새제품)아이폰 12프로 케이스/아이폰케이스/아이폰12프로/아이폰,8000,서울 서대문구 남가좌동,4
7,[급매 S급] iPhone 12 mini 128G / 아이폰 12 미니,380000,서울 서대문구 남가좌동,4
8,아이폰12 미니 128g iphone12 mini 블랙 판매합니다(화면 보호필름입니다),400000,서울 강서구 화곡본동,5
9,아이폰12pro 128G 아이폰12프로,720000,광주 광산구 첨단1동,6
10,아이폰12프로/아이폰12 정품 실리콘케이스,45000,서울 서대문구 홍은동,7
11,아이폰12/아이폰12프로 케이스,5000,인천 미추홀구 주안4동,8
12,잉크 아이폰12프로맥스케이스 / iphone 12 pro max case,25000,경기도 안양시 동안구 평안동,9
13,아이폰12 프로 아이폰12프로 맥스,3000,서울 서대문구 대현동,10
14,아이폰12————->아이폰12이상 모델,212121,전남 여수시 시전동,11
15,아이폰12 아이폰12프로 Pelican 케이스,16000,서울 서초구 방배동,12
16,아이폰12 미니 화이트 아이폰 미니 12 iphone,450000,서울 서초구 서초2동,13
17,아이폰12 미니 화이트 아이폰 미니 12 iphone,450000,서울 강남구 대치동,14
18,아이폰 12 미니 화이트 >> 아이폰 12 이상 교환,121212,충남 아산시 배방읍,15
19,아이폰12 프로 아이폰12 pro 256gb 실버,780000,서울 도봉구 방학제3동,16
20,아이폰11프로256이랑 아이폰 12or12pro 13 13pro 교환하실 분!!,10000,경기도 광명시 하안3동,17
21,새상품 ) 아이폰 12 케이스 iphone 12,2500,대구 달서구 상인동,18
22,(새상품)아이폰12 / 아이폰12프로 맥세이프 케이스,16000,세종시 집현동,19
23,미개봉 아이폰12 / 아이폰12 프로 에어 가드 젤리케이스,2000,경기도 수원시 영통구 영통1동,20
24,"아이폰12프맥 > 아이폰12프로, 아이폰12",1,경기도 부천시 춘의동,21
25,아이폰12/아이폰12pro 하트 케이스 + 그립톡 같이,10000,서울 관악구 봉천동,22
26,아이폰12프로맥스케이스 / 폰케이스 / 아이폰12프로 / 아이폰12프로맥스 / 아이...,2000,경기도 남양주시 다산2동,23
27,아이폰12/아이폰12프로 겸용 케이스,5000,서울 금천구 시흥제2동,24
28,"아이폰 12 케이스 일괄 판매 (12프로 , 12)",15000,서울 강동구 상일동,25
29,아이폰12 / 아이폰12프로 케이스 투명 범퍼,1500,인천 남동구 구월동,26
30,아이폰12 아이폰12프로 벨킨 울트라글라스 강화유리,20000,충북 청주시 흥덕구 봉명2.송정동,27
31,"아이폰12미니 128 , iPhone12 mini 128",600000,서울 강북구 송천동,28
32,아이폰12 / 아이폰12pro 강화유리필름 2개,10000,경남 밀양시 내이동,29
33,망그러진 곰 아이폰12프로/아이폰12 그립톡 부착된 케이스 팝니다❤️‍🔥,13500,서울 성북구 석관동,30
34,아이폰12맥세이프케이스 아이폰12프로맥세이프케이스팝니다,8000,인천 미추홀구 주안5동,31
35,iPhone 12 pro max / 아이폰 12 프로맥스 128GB 판매합니다.,850000,서울 구로구 오류제1동,32
36,아이폰12프로 아이폰12pro 512 골드 팝니다,855000,서울 은평구 녹번동,33
37,아이폰12미니 블랙 128GB 자급제 48만원 (아이폰12 mini),480000,서울 종로구 종로5.6가동,34
38,아이폰 아이폰11 아이폰 12 아이폰13 아이폰xr 아이폰xs 아이폰x 아이폰전기종...,1,서울 성동구 용답동,35
39,아이폰12 아이폰13 애플로고 케이스 아이폰케이스,9000,울산 남구 신정동,36
40,"아이폰 케이스 아이폰 12 프로, 아이폰 12 용 앵키하우스 무쪼 MUJJO 가죽 ...",30000,경기도 화성시 진안동,37
41,파손 아이폰7플러스 이상 삽니다. 아이폰x 아이폰11.12,100000,충남 천안시 동남구 구성동,38
42,파손 아이폰7플러스 이상 삽니다. 아이폰x 아이폰11.12,100000,경기도 하남시 초일동,39
43,파손 아이폰7플러스 이상 삽니다. 아이폰x 아이폰11.12,100000,서울 동대문구 휘경제1동,40

In [1467]:
carrot.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 44 entries, 0 to 43
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   title       44 non-null     object
 1   price       44 non-null     object
 2   region      44 non-null     object
 3   regioncode  44 non-null     object
dtypes: object(4)
memory usage: 1.7+ KB

In [1468]:
carrot['price'] = carrot['price'].astype('int64')
carrot.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 44 entries, 0 to 43
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   title       44 non-null     object
 1   price       44 non-null     int64
 2   region      44 non-null     object
 3   regioncode  44 non-null     object
dtypes: int64(1), object(3)
memory usage: 1.7+ KB

In [1469]:
carrot = carrot.drop('region', axis=1)

In [1470]:
target_string = ['케이스']
isCase = carrot[carrot['title'].map(lambda x: any(string in x for string in target_string))]
isCase['Case'] = 1
isCase = isCase.drop(['title','price', 'regioncode'], axis=1)

C:\Users\ljg98\AppData\Local\Temp\ipykernel_23756\94432016.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isCase['Case'] = 1

In [1471]:
isCase

    Case
0      1
1      1
2      1
3      1
6      1
10     1
11     1
12     1
15     1
21     1
22     1
23     1
25     1
26     1
27     1
28     1
29     1
33     1
34     1
39     1
40     1

In [1472]:
case = carrot[carrot['title'].str.contains('케이스')].index
print(case)
carrot.drop(case,inplace=True)
carrot = carrot.reset_index()
carrot = carrot.drop('index',axis=1)
carrot

Int64Index([0, 1, 2, 3, 6, 10, 11, 12, 15, 21, 22, 23, 25, 26, 27, 28, 29, 33,
            34, 39, 40],
           dtype='int64')

                                                title   price regioncode
0                     아이폰 12 미니 256기가 화이트 아이폰12 아이폰미니  500000          2
1                        아이폰 12 12gb 레드 ( iPhone 12 )  500000          3
2             [급매 S급] iPhone 12 mini 128G / 아이폰 12 미니  380000          4
3    아이폰12 미니 128g iphone12 mini 블랙 판매합니다(화면 보호필름입니다)  400000          5
4                               아이폰12pro 128G 아이폰12프로  720000          6
5                                 아이폰12 프로 아이폰12프로 맥스    3000         10
6                               아이폰12————->아이폰12이상 모델  212121         11
7                       아이폰12 미니 화이트 아이폰 미니 12 iphone  450000         13
8                       아이폰12 미니 화이트 아이폰 미니 12 iphone  450000         14
9                       아이폰 12 미니 화이트 >> 아이폰 12 이상 교환  121212         15
10                        아이폰12 프로 아이폰12 pro 256gb 실버  780000         16
11       아이폰11프로256이랑 아이폰 12or12pro 13 13pro 교환하실 분!!   10000         17
12                           아이폰12프맥 > 아이폰12프로, 아이폰12       1         21
13                       아이폰12 아이폰12프로 벨킨 울트라글라스 강화유리   20000         27
14                    아이폰12미니 128 , iPhone12 mini 128  600000         28
15                         아이폰12 / 아이폰12pro 강화유리필름 2개   10000         29
16       iPhone 12 pro max / 아이폰 12 프로맥스 128GB 판매합니다.  850000         32
17                        아이폰12프로 아이폰12pro 512 골드 팝니다  855000         33
18             아이폰12미니 블랙 128GB 자급제 48만원 (아이폰12 mini)  480000         34
19  아이폰 아이폰11 아이폰 12 아이폰13 아이폰xr 아이폰xs 아이폰x 아이폰전기종...       1         35
20                   파손 아이폰7플러스 이상 삽니다. 아이폰x 아이폰11.12  100000         38
21                   파손 아이폰7플러스 이상 삽니다. 아이폰x 아이폰11.12  100000         39
22                   파손 아이폰7플러스 이상 삽니다. 아이폰x 아이폰11.12  100000         40

In [1473]:
carrot.to_csv('testfile/carrotshop.csv', mode='w')